.skull {
    grid-column: 2;
}

.dados {
    grid-column: 3;
}

.copy {
    grid-column: 1/5;
    margin-bottom: 2rem;
    background: #222;
    text-align: center;
}

.copy p {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    color: white;
}